html {
    --global-color: #283593;
    --placeholder: #9E9E9E;
    --white-color: #fff;
}

.pi-btn-access {
    width: 85% !important;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.pi-btn-access.login {
    margin: 25px 0;
}

.pi-person {
    color: var(--global-color);
}

.pi-body-login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--global-color);
}

.pi-link {
    color: var(--global-color) !important;
    font-weight: bold;
}


/* Input fields */

input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type=text]:not(.browser-default):disabled,
input[type=text]:not(.browser-default)[readonly="readonly"],
input[type=password]:not(.browser-default):disabled,
input[type=password]:not(.browser-default)[readonly="readonly"],
input[type=email]:not(.browser-default):disabled,
input[type=email]:not(.browser-default)[readonly="readonly"],
input[type=url]:not(.browser-default):disabled,
input[type=url]:not(.browser-default)[readonly="readonly"],
input[type=time]:not(.browser-default):disabled,
input[type=time]:not(.browser-default)[readonly="readonly"],
input[type=date]:not(.browser-default):disabled,
input[type=date]:not(.browser-default)[readonly="readonly"],
input[type=datetime]:not(.browser-default):disabled,
input[type=datetime]:not(.browser-default)[readonly="readonly"],
input[type=datetime-local]:not(.browser-default):disabled,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
input[type=tel]:not(.browser-default):disabled,
input[type=tel]:not(.browser-default)[readonly="readonly"],
input[type=number]:not(.browser-default):disabled,
input[type=number]:not(.browser-default)[readonly="readonly"],
input[type=search]:not(.browser-default):disabled,
input[type=search]:not(.browser-default)[readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
    color: rgb(175, 175, 175);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.42);
}

input:not([type]):disabled+label,
input:not([type])[readonly="readonly"]+label,
input[type=text]:not(.browser-default):disabled+label,
input[type=text]:not(.browser-default)[readonly="readonly"]+label,
input[type=password]:not(.browser-default):disabled+label,
input[type=password]:not(.browser-default)[readonly="readonly"]+label,
input[type=email]:not(.browser-default):disabled+label,
input[type=email]:not(.browser-default)[readonly="readonly"]+label,
input[type=url]:not(.browser-default):disabled+label,
input[type=url]:not(.browser-default)[readonly="readonly"]+label,
input[type=time]:not(.browser-default):disabled+label,
input[type=time]:not(.browser-default)[readonly="readonly"]+label,
input[type=date]:not(.browser-default):disabled+label,
input[type=date]:not(.browser-default)[readonly="readonly"]+label,
input[type=datetime]:not(.browser-default):disabled+label,
input[type=datetime]:not(.browser-default)[readonly="readonly"]+label,
input[type=datetime-local]:not(.browser-default):disabled+label,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"]+label,
input[type=tel]:not(.browser-default):disabled+label,
input[type=tel]:not(.browser-default)[readonly="readonly"]+label,
input[type=number]:not(.browser-default):disabled+label,
input[type=number]:not(.browser-default)[readonly="readonly"]+label,
input[type=search]:not(.browser-default):disabled+label,
input[type=search]:not(.browser-default)[readonly="readonly"]+label,
textarea.materialize-textarea:disabled+label,
textarea.materialize-textarea[readonly="readonly"]+label {
    color: rgb(175, 175, 175);
}


/* label color */

.input-field label {
    color: var(--placeholder);
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: var(--placeholder);
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid var(--placeholder);
    box-shadow: 0 1px 0 0 var(--placeholder);
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid var(--placeholder);
    box-shadow: 0 1px 0 0 var(--placeholder);
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid var(--placeholder);
    box-shadow: 0 1px 0 0 var(--placeholder);
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: var(--placeholder);
}


/* Dashboard styles */

header,
main,
footer {
    padding-left: 300px !important;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0 !important;
    }
}


/* Dropdown */

.dropdown-content li:hover,
.dropdown-content li.active,
.dropdown-content li.selected {
    background-color: var(--global-color) !important;
}

.dropdown-content>li>a {
    color: var(--white-color) !important;
}

.dropdown-content {
    width: 150px !important;
}


/* Icons */

.img-icon {
    vertical-align: middle;
}